@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tani Tenkan</h1>
    <p>You can convert units of area, length, temperature, volume and weight.</p>
    <p>
        <a class="btn btn-primary" href="/TaniTenkan/Area">Convert Area</a><br>
        <a class="btn btn-primary" href="/TaniTenkan/Length">Convert Length</a><br>
        <a class="btn btn-primary" href="/TaniTenkan/Temperature">Convert Temperature</a><br>
        <a class="btn btn-primary" href="/TaniTenkan/Volume">Convert Volume</a><br>
        <a class="btn btn-primary" href="/TaniTenkan/Weight">Convert Weight</a><br>
    </p>
</div>
